<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"><html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta><link rel="stylesheet" type="text/css" href="__STYLE__"></link></head><body>
<p><strong>Глобальный поиск</strong></p>
<p>Расширения функциональности глобального поиска демонстрируется в:</p>
<ul><li>Модуль приложения</li>
<ul><li>Процедура ПриНачалеРаботыСистемы</li>
<li>Процедура ПриГлобальномПоиске</li>
<li>Процедура ПриВыбореРезультатаГлобальногоПоиска</li></ul><li>Общий модуль  МодульГлобальногоПоискаКлиент</li>
<li>Общий модуль  МодульГлобальногоПоискаСервер</li></ul><p>Демонстрируется:</p>
<ul><li>Установка подсказки глобального поиска</li>
<li>Быстрое создание документов (ввод символа <b>+</b> в поле глобального поиска)</li>
<li>Быстрый поиск документов по номеру</li>
<li>Поиск контрагентов, с возможностью создания заказа</li>
<li>Формирование списка должников (ввод в поле глобального поиска <b>долги</b>  или <b>долг</b> и часть названия контрагента) и открытие формы списка взаиморасчетов с установленным отбором</li></ul></body></html>